@model IEnumerable<TieERP.Models.Warehouse>

@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>TieERP</h1>
    <p class="lead">Free ERP system</p>
    <p><a href="https://asp.net" class="btn btn-primary btn-lg">Learn more &raquo;</a></p>
</div>
<h2>Warehouse List:</h2>
<div class="row">
    <form method="get">
        <input type="text" name="search" />
        <input type="submit" />
    </form>
    @foreach (var warehouse in Model)
    {
        <div class="col-md-4">
            <h4>@warehouse.Name</h4>
            @*@foreach (var item in warehouse.Product)
            {
                <ul>
                    <li>@item.Name</li>
                </ul>
            }*@
            <ul>
                <li>Produkt</li>
            </ul>
        </div>
    }


</div>
<h2>Products List:</h2>
<div>
    @*Dwa modele w jednym widoku!
    Stwórz nowy partial view (tutaj ./Products/View.cshtml),
    W kontrolerze nowa metoda:

    //GET: Table
    public ActionResult Table()
    {
    var model = db.Products.ToList();

    return PartialView("View", model);
    }

    Na końcu w domyślnym miejscu @Html.Action("Table", "Products")*@

    @Html.Action("Table", "Products")
</div>
